@import url(error.css);

:root {
	--font-family: Arial, sans-serif;
	--font-size: 1rem;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: initial;
	font-family: var(--font-family);
}

body:has(canvas) {
	background-color: #000;
}

canvas {
	display: block;
	width: 100vw;
	height: 100vh;
	position: absolute;
}